@import "variables";
nav{
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 100%;
  background-color: @primary;
  display: flex;
  justify-content: right;
  align-items: center;
  border-radius: 0;
  font-family: "Comic Sans MS", sans-serif;
}

.navWrapper{
  position: fixed;
  top: 40px;
  right: 0;
  height: auto;
  width: 100px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: @primary;
  color: @secondary;
}

a{
  margin: 0 8px;
  text-decoration: none;
}

.dropDownMenu{
  height: 100%;
  width: 40px;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}

.toggle{
  display: none;
}

@media screen and (min-width: 600px){
  .dropDownMenu{
    display: none;
  }
  .navWrapper{
    height: 100%;
    position: relative;
    width: 100%;
    background-color: transparent;
    flex-direction: row;
    top: 0;
    right: 0;
  }
}